main {
    padding: 1rem;

    .main-article {
        .img-desktop {
            display: none;
        }

        display: grid;

        h1 {
            color: $very-dark-blue;
        }

        p {
            color: $dark-grayish-blue;
        }

        h1, p {
            margin: 1rem 0;
        }

        a {
            background: $soft-red;
            color: $off-white;
            padding: 1rem;
            display: block;
            width: fit-content;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1px;
            font-weight: 700;
        }
    }

    .new-articles {
        background: $very-dark-blue;
        padding: 1rem;

        h2 {
            color: $soft-orange;
        }

        article {
            display: grid;
            padding: 1.5rem 0;
            gap: .75rem;

            a {
                text-decoration: none;
            }

            h3 {
                color: $off-white;
            }

            p {
                color: $grayish-blue;
            }

            &:not(:last-child) {
                border-bottom: 1px solid $grayish-blue;
            }
        }
    }

    .top-articles {
        display: grid;
        gap: 2rem;

        article a {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-decoration: none;

            img {
                height: 100%;
            }

            .text-container {
                grid-column: 2 / auto;
                padding: 1rem;

                span {
                    font-size: 2rem;
                    color: $grayish-blue;
                    font-weight: 700;
                }

                h3 {
                    color: $very-dark-blue;
                }

                p {
                    color: $dark-grayish-blue;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        .main-article {
            a:hover {
                background: $very-dark-blue;
            }
        }

        .new-articles {
            article {
                a:hover {
                    h3 {
                        color: $soft-orange;
                    }
                }
            }
        }
    }
}