main {
    padding: 1rem;

    .main-article {
        .img-desktop {
            display: none;
        }

        display: grid;

        h1 {
            color: $very-dark-blue;
        }

        p {
            color: $dark-grayish-blue;
        }

        h1, p {
            margin: 1rem 0;
        }

        a {
            background: $soft-red;
            color: $off-white;
            padding: 1rem;
            display: block;
            width: fit-content;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1px;
            font-weight: 700;
        }
    }
}