@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    line-height: 1.5;
    font-family: Inter, "sans-serif";
}

img {
    max-width: 100%;
    height: auto;
}

@import "./variables";
@import "./header";
@import "./main";